@import "tailwindcss";

@theme {
  --color-primary: #188383;
  --color-primary-active: #005E63;
  --color-primary-tint: #E5EFEF;
  --color-background: #F8F8F8;
  --color-surface: #FFFFFF;
  --color-body-text: #1A1A1A;
  --color-error: #DE2A2A;
  --color-success: #2E9E7B;

  --font-sans: var(--font-noto-sans), ui-sans-serif, system-ui, sans-serif;
}

body {
  background-color: #F8F8F8;
  color: #1A1A1A;
  font-family: var(--font-sans);
}
